@model TravelAgency.Models.User

<h2>Register</h2>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Register" method="post">
    @Html.AntiForgeryToken()

    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" type="email" required />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" type="password" class="form-control" required />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <hr />
    <h4>Passenger Info</h4>

    <div class="mb-3">
        <label asp-for="PhoneNumber" class="form-label"></label>
        <input asp-for="PhoneNumber" class="form-control" />
    </div>

    <div class="mb-3">
        <label>First Name</label>
        <input asp-for="Passanger.FirstName" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
</form>